<div class="welcome">
  <h1 class="font-weight-bold">Welcome to Task Supervisor!</h1><br>
  <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-success font-weight-bold" %>
  <%= link_to "Log In", new_user_session_path, class: "btn btn-primary font-weight-bold" %>
</div>
